extends layout

block content
  link(rel='stylesheet', href='/styles/supplement.css', type='text/css')
  .centre-wrapper
    .centre-cont
      h1 welcome #{associate.firstName} #{associate.lastName}
      
      -var length = orders.length;
      
      if length > 0
  
        ul.list-group
          
          each order, i in orders
              
              li.list-group-item
              
                if order.repair && !order.service
                  - var todo = " repair";  
                if order.service && !order.Repair
                  - var todo = " service";
                if order.service && order.repair
                  - var todo = " repair and service";
                .todo
                  .in-col.work
                    .info-grp
                      a.work-label.mar-bot(href='/associate/'+order._id)
                        h4= order.work + todo
                      if order.accepted && !order.done
                        p
                          span.status.yellow ongoing
                      if order.accepted && order.done
                        p
                          span.status.green completed
                      if !order.accepted && !order.done
                        p
                          span.status.wait waiting
                      
                      .in-line
                      
                        div
                          span= order.date
                          br
                          if order.time == 7 || order.time == 9 || order.time == 11
                            span= order.time+ ' AM'
                          if order.time == 3 || order.time == 5 
                            span= order.time+ ' PM'
                  .in-col.right.res
                    
                    span.price $20
                    span
                    a.button(href='/associate/'+order.id) View details
      if length == 0
        p You have nothing scheduled!

        a.button(href="/associate/todo") Get Scheduled
  
