extends layout
block content
  

  link(rel='stylesheet', href='/styles/supplement.css', type='text/css')
  .centre-wrapper
    .centre-cont

      h1.page-label #{ title }

      
        
      if orders
        -var f = 1
        ul.list-group
          
          each order, i in orders
            
            if !order.accepted
              - f = 0
              li.list-group-item
              
                if order.repair && !order.service
                  - var todo = " repair";  
                if order.service && !order.Repair
                  - var todo = " service";
                if order.service && order.repair
                  - var todo = "repair and service";
                .todo
                  .in-col.work
                    a.work-label(href='/associate/'+order._id)= order.work + ' ' +todo
                    .in-line
                      .in-col
                        span.info.address= order.address
                        span.info.arcode= order.areacode
                      if order.time === 7 || order.time === 11 || order.time === 9
                        span.info.time.right= 'at '+order.time+ ' AM'
                        
                      if order.time === 3 || order.time === 5
                        span.info.time.right= 'at '+order.time + ' PM' 
                  .in-col.right.res
                    span.price $20
                    a.accept.button.update(href='/associate/todo' data-id=order._id data-user=user.firstName+' '+user.lastName) Claim
                    a.reject.button(href='/associate/todo' data-id=order._id) Ignore
      if !orders || f == 1
        div
          p No Orders to get scheduled,
          p Please wait for someone to schedule an order!
                  
      script(src='/bower-components/jquery/dist/jquery.js')        
      script(src='/js/accept.js')
      script(src='/js/reject.js')
      
                
