extends ../layout

block content

  link(rel='stylesheet', href='/styles/profile.css', type='text/css')
  .wrapper
    a.logout(href='/users/logout') Logout
      div
    .user-info
      .avatar
      a.edit(href='/users/profile/edit') 
        span.icon &#9998
        span.label Edit
      .user-name
        h1= user.firstName
        h1= user.lastName
    
    .user-detail
      ul.user-details
        li.user-detail-item
          h3 Email:
          div #{user.email}
        li.user-detail-item
          h3 Saved address:
          if user.address
            div #{user.address}
          if !user.address
            div No address added
        li.user-detail-item
          h3 Contact Number:
          if user.phone
            div.detail #{user.phone}
          if !user.phone
            div.detail No phone Number added
        li.user-detail-item
          h3 Saved cards:
          if user.card
            div.detail #{user.card}
          if !user.card
            div.detail No saved cards


      
